branches:
  except:
    - main
language: ruby
cache: bundler
sudo: false
rvm:
- 2.7.5
- 3.0.3
- 3.1.0
addons:
  apt:
    packages:
      - libarchive-dev
script:
- bundle exec rubocop
- bundle exec foodcritic -f any .
- bundle exec rspec
