branches:
  except:
    - main
language: ruby
cache: bundler
sudo: false
rvm:
- 2.3.1
- 2.5.5
- 2.6.5
addons:
  apt:
    packages:
      - libarchive-dev
script:
- bundle exec rubocop --version
- bundle exec rubocop
- bundle exec foodcritic --version
- bundle exec foodcritic -f any .
- bundle exec rspec
